@model IEnumerable<Day1.Models.Money>
@{ 
    Layout = null;
}
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.id)</th>
            <th>@Html.DisplayNameFor(model => model.categorydesc)</th>
            <th>@Html.DisplayNameFor(model => model.date)</th>
            <th>@Html.DisplayNameFor(model => model.amount)</th>
            <th>@Html.DisplayNameFor(model => model.remark)</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categorydesc)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remark)
            </td>
            </tr>
        }
    </table>
